html, body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navlink {
  padding: .5em;
  margin: 1em;
  text-decoration: none;
}

h1 {
  margin-left: .5em;
}
