@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
html {
  background-image: url("assets/baking.jpg");
}

h1, h2 {
  font-family: "Amita", serif;
  font-size: xx-large;
}

input {
  margin: 1em;
  width: 22em;

  overflow: auto;
}
textarea {
  margin-top: 1em;
  margin-left: 1em;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form {
  background-color: #031D44;
  padding: 2em;
  border-radius: 10px;
  border: inset black;
  width: 40vw;
  color: white;
  box-shadow: 4px 2px 4px 0 rgb(189, 78, 115);
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

#content {
  width: 70vw;
}  
