html, body {
    margin: 0;
    padding: 0;
}

.background {
  min-width: 100vw;
}


.background.router-home {
    background-color: #601339;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navlink {
    margin: 1em;
    padding: .5em;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    background-color: white;
    border-radius: 15px;
    border: solid black 1px;
    color: #551A8B;
}

.navlink:hover {
    background-color: #6F3676;
    color: white;
}