html, body {
    margin: 0;
    padding: 0;
}

#addCat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#map-loc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

#coordinates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

form label, fieldset {
    margin: 1em;
    font-size: large;

}
label input, select {
    margin-left: 0.5em;
}
.leaflet-container {
    margin-top: 1em;
}
